.members {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // justify-content: flex-start;
    // align-items: flex-start;

    app-member-card {
        width: 90%;
    }
}