@import "../../scss/global.scss";

h1 {
    font-family: 'AmaticSC-Bold';
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: var(--white);
    font-weight: 100;
    font-size: 50px;

    position: relative;
    display: inline-block;
    border-bottom: 2px dashed var(--primary);

    ::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--primary);
    }
}



@media #{$xsmobile} {
    h1 {
        font-size: 55px;
    }
}

@media #{$mobile} {
    h1 {
        font-size: 65px;
    }
}

@media #{$xtablet} {
    h1 {
        font-size: 90px;
    }
}

@media #{$pcfullhd} {
    h1 {
        font-size: 110px;
    }
}

@media #{$pcquadhd} {
    h1 {
        font-size: 140px;
    }
}