@import "../../scss/global.scss";

h1 {
    font-family: "AmaticSC-Bold";
    word-spacing: 1px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-size: 40px;
    padding: 0;
}

@media #{$smobile} {
    h1 {
        font-size: 45px;
    }
}

@media #{$mobile} {
    h1 {
        font-size: 50px;
    }
}

@media #{$tablet} {
    h1 {
        font-size: 55px;
    }
}

@media #{$pcfullhd} {
    h1 {
        font-size: 60px;
    }
}

@media #{$pcquadhd} {
    h1 {
        font-size: 65px;
    }
}

.white-color {
    color: var(--white);
}

.dark-color {
    color: var(--black-light);
}