<app-white-content class="home-content">
    <div class="home-content__container">
        <div class="home-content__container__content">

            <app-title appFadein [title]="title"></app-title>
            <div appFadein class="home-content__container__content__description-container">
                <div class="home-content__container__content__description-container__image">
                    <div class="home-content__container__content__description-container__image__border"></div>
                </div>

                <p>Disorder is a captivating hand-drawn 2D platformer game created by Fumetsu, immersing players
                    in
                    a
                    whimsical
                    world that explores mental disorders such as depression and schizophrenia. With stunning
                    visuals
                    and
                    unique
                    gameplay mechanics, players embark on a transformative journey through the human mind,
                    encountering
                    obstacles that symbolize internal struggles and meeting characters that evoke empathy.
                    Disorder
                    aims
                    to
                    promote understanding, destigmatize mental health, and foster compassion through its
                    enchanting
                    narrative,
                    inviting players to embrace the power of empathy and uncover the beauty within the
                    complexities
                    of
                    the
                    human
                    psyche.
                </p>
            </div>
        </div>
    </div>
</app-white-content>