<div class="home-content">
    <div class="home-content__container">
        <h1>CREATING EMPATHY THROUGH GAMES</h1>
        <p>Disorder is a captivating hand-drawn 2D platformer game created by Fumetsu, immersing players in a whimsical
            world that explores mental disorders such as depression and schizophrenia. With stunning visuals and unique
            gameplay mechanics, players embark on a transformative journey through the human mind, encountering
            obstacles that symbolize internal struggles and meeting characters that evoke empathy. Disorder aims to
            promote understanding, destigmatize mental health, and foster compassion through its enchanting narrative,
            inviting players to embrace the power of empathy and uncover the beauty within the complexities of the human
            psyche.
        </p>
    </div>
</div>