@import "../../../scss/global.scss";

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;

        app-title {
            margin: 20px 0px 20px 0px;
        }

        &__description-container {
            justify-content: center;
            flex-direction: column;
            align-items: center;
            display: flex;
            width: 90%;

            &__image {
                background: url('../../../../assets/img/prints/print_nou.png');
                background-position: bottom right;
                background-repeat: no-repeat;
                border-radius: 0px 20px 0px 20px;
                background-size: cover;
                height: 250px;
                width: 100%;
            }

            p {
                font-family: "OpenSans-Regular";
                color: var(--black-light);
                letter-spacing: 1px;
                text-align: justify;
                font-size: 14px;
                margin: 20px 0px 20px 0px;
            }
        }
    }
}

@media #{$mobile} {
    .home-content {
        &__container {
            &__description-container {
                p {
                    font-size: 16px;
                }
            }
        }
    }
}

@media #{$tablet} {
    .home-content {
        margin-bottom: 20px;

        &__container {
            &__description-container {
                flex-direction: unset;

                &__image {
                    width: 30%;
                }

                p {
                    margin: 0px 0px 0px 20px;
                    width: 70%;
                }
            }
        }
    }
}

@media #{$pcfullhd} {
    .home-content {
        margin: 20px 0px 35px 0px;

        &__container {
            &__description-container {

                &__image {}

                p {
                    margin: 0px 0px 0px 30px;
                    width: 70%;
                    font-size: 18px;
                }
            }
        }
    }
}