@import "../../../../scss/global.scss";

.download {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        width: 90%;

        &__content {
            flex-direction: column;
            align-items: center;
            display: flex;
            width: 90%;

            &__text-content {
                flex-direction: column;
                align-items: center;
                display: flex;

                &__container {
                    flex-direction: column;
                    align-items: center;
                    display: flex;

                    app-download-image {
                        width: 100%;
                    }

                    &__description {
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        display: flex;

                        app-tag {
                            width: 100%;
                            margin: 20px 0;
                        }

                        p {
                            font-family: "OpenSans-Regular";
                            color: var(--white);
                            letter-spacing: 1px;
                            text-align: justify;
                            font-size: 14px;
                        }

                        app-download-button {
                            display: flex;
                            justify-content: center;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.display-none-web {
    display: flex;
}

.display-none-mobile {
    display: none;
}

@media #{$mobile} {
    .download__container__content__text-content__container__description p {
        font-size: 16px;
    }
}


@media #{$tablet} {
    .download__container__content__text-content__container {
        flex-direction: unset;
        margin-top: 20px;

        app-download-image {
            width: 30%;
        }

        &__description {
            margin-right: 25px;
            width: 70%;

            app-tag {
                width: 100%;
                margin: 0 0 20px 0;
            }

            p {
                font-size: 16px;
            }
        }
    }

    .display-none-web {
        display: none;
    }

    .display-none-mobile {
        display: flex;
    }
}

@media #{$pcfullhd} {
    .download__container__content__text-content__container__description {
        margin-right: 30px;
    }
}