<app-dark-content class="download">
    <div class="download__container">
        <div class="download__container__content">
            <div class="download__container__content__text-content">
                <app-title [title]="title" [white]="white"></app-title>

                <div class="download__container__content__text-content__container">

                    <app-download-image class="display-none-web"></app-download-image>

                    <div class="download__container__content__text-content__container__description">
                        <app-tag [text]="tag"></app-tag>
                        <p>We are thrilled to offer you the opportunity to experience a free sample of our game. The
                            Demo
                            edition of Disorder is still under development, but it will allow you to dive into a dynamic
                            and
                            action-packed universe that we have created, giving you a taste of what's to come. We hope
                            you
                            have
                            a lot of fun and enjoy this exciting preview. Oh, and don't forget to take good care of Ax
                            for
                            us!
                        </p>

                        <app-download-instructions></app-download-instructions>
                        <app-download-button></app-download-button>
                    </div>

                    <app-download-image class="display-none-mobile"></app-download-image>
                </div>
            </div>
        </div>
    </div>
</app-dark-content>