@import "../../../../../scss/global.scss";


.button {
    border-radius: 0px 10px 0px 10px;
    font-family: 'OpenSans-Bold';
    letter-spacing: 1px;
    font-size: 20px;
    height: 40px;
    width: 100%;
    max-width: 570px;
}

@media #{$mobile} {
    .button {
        font-size: 20px;
        height: 45px;
        max-width: 626px;
    }
}

@media #{$tablet} {
    .button {
        font-size: 25px;
        height: 50px;
    }
}

@media #{$pcfullhd} {
    .button {
        height: 55px;
    }
}

@media #{$pcquadhd} {
    .button {
        font-size: 30px;
    }
}