<div class="download-instructions">
    <div class="download-instructions__content">
        <h1>Download Instructions</h1>
        <ol>
            <li>Click the button to initiate the download.</li>
            <li>A new tab will open in Google Drive for the download to take place.</li>
            <li>Confirm the download.</li>
            <li>Wait for the file to be completely downloaded to your device.</li>
            <li>Locate the downloaded file on your device.</li>
            <li>Extract the .rar file.</li>
            <li>Open the folder and run the Disorder.exe file.</li>
            <li>Enjoy the thrilling experience of the Disorder Demo edition.</li>
        </ol>
    </div>
</div>