$primary-color-palette: (
    50 : #e9f3fd,
    100 : #c8e0fa,
    200 : #a3ccf6,
    300 : #7eb8f2,
    400 : #62a8f0,
    500 : #4699ed,
    600 : #3f91eb,
    700 : #3786e8,
    800 : #2f7ce5,
    900 : #206be0,
    A100 : #ffffff,
    A200 : #e5eeff,
    A400 : #b2cdff,
    A700 : #98bdff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$accent-color-palette: (
    50 : #f9f5eb,
    100 : #f1e5ce,
    200 : #e8d4ae,
    300 : #dec28d,
    400 : #d7b574,
    500 : #d0a85c,
    600 : #cba054,
    700 : #c4974a,
    800 : #be8d41,
    900 : #b37d30,
    A100 : #fffcf8,
    A200 : #ffe6c5,
    A400 : #ffd092,
    A700 : #ffc579,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$primary: #4699ed;
$white: #ffffff;
$light-gray: #f2f2f2;
$gray: #c8c8c8;
$dark-gray: #555;
$graphite: #4f4f4f;
$black: #000000;
$black-light: #212121;
$gold: #d0a85c;
$silver: #c3c3c3;