$primary-color-palette: (
    50 : #fbe5f2,
    100 : #f6bdde,
    200 : #f092c8,
    300 : #e966b1,
    400 : #e545a1,
    500 : #e02490,
    600 : #dc2088,
    700 : #d81b7d,
    800 : #d31673,
    900 : #cb0d61,
    A100 : #fff7fa,
    A200 : #ffc4dc,
    A400 : #ff91bd,
    A700 : #ff78ae,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$accent-color-palette: (
    50 : #f9f5eb,
    100 : #f1e5ce,
    200 : #e8d4ae,
    300 : #dec28d,
    400 : #d7b574,
    500 : #d0a85c,
    600 : #cba054,
    700 : #c4974a,
    800 : #be8d41,
    900 : #b37d30,
    A100 : #fffcf8,
    A200 : #ffe6c5,
    A400 : #ffd092,
    A700 : #ffc579,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$primary: #4699ed;
$white: #ffffff;
$light-gray: #f2f2f2;
$gray: #c8c8c8;
$dark-gray: #555;
$graphite: #4f4f4f;
$black: #000000;
$black-light: #212121;
$gold: #d0a85c;
$silver: #c3c3c3;