<mat-card class="card">
    <mat-card-header class="card__header">
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <div class="card__header__image">
            <div class="card__header__image__border"></div>
        </div>

    </mat-card-header>

    <mat-card-content>
        <mat-card-title>Henrique Franco Fickert</mat-card-title>
        <mat-card-subtitle>Role: Game Programmer</mat-card-subtitle>
        <p>Description</p>
    </mat-card-content>
</mat-card>