<div class="video">
    <div class="video__content">
        <div class="video__content__container">
            <iframe class="video__content__container__video" src="https://www.youtube.com/embed/1kGuZBhJNqM"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </div>

    <div class="video__description__container">
        <app-fade-in>
            <p>Embark on a transformative journey through the minds of the afflicted. Challenge prejudice, foster
                empathy,
                and reshape a village's perception. Join IIo and embrace the power of understanding in Disorder.</p>
        </app-fade-in>
    </div>

</div>

<!-- "Disorder: A Path of Compassion". -->