@import "../../scss/global.scss";

.navbar {
    background-color: var(--black-light);
    justify-content: space-between;
    padding: 0;
    margin: 0;

    &__menu {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        margin: 5px;

        li {
            margin: 5px;
            cursor: pointer;

            a {
                font-family: "AmaticSC-Bold";
                letter-spacing: 1px;
                font-size: 16px;
                color: var(--white);
                text-decoration: none;

                &:hover {
                    color: var(--primary);
                }
            }
        }
    }

    app-disorder-nav-logo {
        margin-left: 10px;
    }
}

@media #{$smobile} {
    .navbar {
        &__menu {
            li {
                font-size: 18px;
            }
        }
    }
}

@media #{$pcfullhd} {
    .navbar {
        &__menu {
            li {
                margin: 10px;
                font-size: 23px;
            }
        }
    }
}