@import "../../scss/global.scss";

.navbar {
    background-color: var(--black-light);
    justify-content: space-between;
    padding: 0;
    margin: 0;

    app-disorder-nav-logo {
        margin-left: 10px;
    }
}