<div class="banner-container">
    <img class="banner-container__background" [ngClass]="{'skeleton': !isLoaded}"
        src="../../../assets/img/banners/banner-4.png" alt="banner" draggable="false" (load)="onLoaded()" />

    <div class="banner-container__title-container">
        <img class="banner-container__title-container__img" src="./assets/img/logos/disorder-logo.svg"
            alt="banner-title" draggable="false" />
        <h2 class="banner-container__title-container__subtitle">A EXTRAORDINARY JOURNEY THROUGH SPECIAL MINDS</h2>
        <button mat-flat-button color="primary">PLAY NOW</button>
    </div>
</div>