@import "../../../scss/global.scss";

.fumetsu {
    clip-path: polygon(0 98%, 0 0, 100% 0, 100% 100%, 83% 99%, 69% 98%, 54% 98%, 41% 99%, 29% 99%, 13% 100%);
    background-color: var(--black-light);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding-bottom: 50px;

    img {
        margin-top: 20px;
        height: auto;
        width: 30%;
        max-width: 200px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        width: 90%;

        &__description {
            flex-direction: column;
            align-items: center;
            display: flex;
            width: 90%;

            app-title {
                margin: 10px;
            }

            &__image {
                background: url('../../../../assets/img/photos/foto_2.png');
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 0 20px 0 20px;
                background-size: cover;
                height: 250px;
                width: 100%;

                &__border {
                    border-radius: 0 20px 0 20px;
                    backdrop-filter: brightness(100%);
                    // backdrop-filter: grayscale(100%);
                    background-color: #3f3d9c35;
                    width: 100%;
                    height: 100%;
                }
            }

            &__text-content {
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    font-family: "OpenSans-Regular";
                    color: var(--white);
                    letter-spacing: 1px;
                    text-align: justify;
                    font-size: 14px;
                    margin-bottom: 8px;
                }

                :last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.tag {
    width: 100%;
    background-color: var(--primary);
    padding: 3px;
    margin: 10px;
    justify-content: center;

    p {
        text-align: center;
        font-family: "OpenSans-Bold";
        color: var(--black-light);
        letter-spacing: 1px;
        font-size: 14px;
    }
}

.display-none-web {
    display: flex;
}

.display-none-mobile {
    display: none;
}

@media #{$xsmobile} {
    .fumetsu__container__description__image {
        height: 400px;
    }
}

@media #{$mobile} {
    .fumetsu__container__description__text-content p {
        font-size: 16px;
    }
}

@media #{$tablet} {
    .fumetsu {
        &__container {
            &__description {
                flex-direction: unset;

                app-title {
                    margin: 0;
                }

                &__image {
                    width: 30%;
                    height: 570px;
                }

                &__text-content {
                    width: 70%;
                    margin: 0 0 0 30px;
                }
            }
        }

        img {
            margin-top: 30px;
        }
    }

    .display-none-web {
        display: none;
    }

    .display-none-mobile {
        display: flex;
    }
}

@media #{$pcfullhd} {
    .fumetsu {
        &__container__description__text-content p {
            font-size: 18px;
        }

        img {
            margin-top: 40px;
        }
    }
}