<div class="fumetsu-content">
    <div class="fumetsu-content__container">
        <div class="fumetsu-content__container__description-container">
            <!-- imagem -->
            <div class="fumetsu-content__container__description-container__image">
                <div class="fumetsu-content__container__description-container__image__border"></div>
            </div>

            <!-- titulo-mobile -->
            <app-title class="display-none-web" [title]="title" [white]="white"></app-title>
            <div class="tag display-none-web">
                <p>FRIENDSHIP MAKES THE PROCESS EASY</p>
            </div>

            <div class="fumetsu-content__container__description-container__text-content">
                <!-- titulo-desktop -->
                <app-title class="display-none-mobile" [title]="title" [white]="white"></app-title>
                <div class="tag display-none-mobile">
                    <p>FRIENDSHIP MAKES THE PROCESS EASY</p>
                </div>
                <p>We're a passionate team from São Paulo, Brazil, that came together during our time in a game design
                    college
                    back in 2016. Our crew consists of seven talented individuals, including game designers,
                    programmers,
                    and
                    artists. We each bring our unique skills and perspectives to the mix, creating a vibrant and
                    collaborative
                    environment where creativity thrives.</p>

                <p>When it comes to Fumetsu, teamwork is at the core of everything we do. Sure, we work hard on
                    developing
                    our
                    games, but it doesn't stop there. We take on additional responsibilities, like building websites and
                    crafting captivating game trailers, to ensure that our creations truly shine. We want our games to
                    not
                    only
                    offer exceptional gameplay but also forge a deep connection with our players.</p>

                <p>But you know what really fuels us with an indescribable love for what we do? It's seeing the joy on
                    people's
                    faces when they play our games. There's something incredibly rewarding about witnessing the
                    happiness
                    and
                    excitement that our creations bring to gamers. It's moments like these that drive us to keep pushing
                    the
                    boundaries and delivering immersive experiences that leave a lasting impact. We pour our hearts into
                    every
                    project, knowing that our hard work is appreciated and that we have the power to make people happy
                    through
                    our games. And that, my friends, is what makes being a part of Fumetsu truly special.</p>
            </div>
        </div>
    </div>
    <img src="./assets/img/logos/fumetsu-logo.png" alt="fumetsu-logo" draggable="false" />
</div>