@import "../../../scss/global.scss";

.social-media-container {
    width: auto;
    display: inline;
    align-items: center;
    justify-content: center;

    a>svg {
        fill: var(--white);
        height: 25px;
        margin: 5px;
        cursor: pointer;

        &:hover {
            fill: var(--gray);
        }
    }
}

@media #{$pcfullhd} {
    .social-media-container {
        a>svg {
            fill: var(--white);
            height: 30px;
        }
    }
}