@import "../../scss/global.scss";

.tag {
    background-color: var(--primary);
    justify-content: center;
    padding: 3px;
    width: 100%;

    p {
        text-align: center;
        font-family: "OpenSans-Bold";
        color: var(--black-light);
        letter-spacing: 1px;
        font-size: 14px;
        text-transform: uppercase;
    }
}

@media #{$mobile} {
    .tag p {
        font-size: 16px;
    }
}