.team-content {
    width: 100%;

    &__container {
        clip-path: polygon(0 98%, 0 0, 100% 0, 100% 100%, 83% 99%, 69% 98%, 54% 98%, 41% 99%, 29% 99%, 13% 100%);
        background-color: var(--black-light);
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;

            app-title {
                margin: 20px;
            }

            img {
                height: auto;
                width: 30%;
            }

            p {
                font-family: "OpenSans-Regular";
                color: var(--white);
                letter-spacing: 1px;
                text-align: justify;
                font-size: 14px;
                margin-bottom: 10px;
            }
        }


    }
}